<ul class="nav justify-content-center">
  <%= link_to "OdinBlog", root_path, class: "navbar-brand"%>
  <% if current_user.blank? %>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path , class: "nav-link" %>
  </li>
  <% end %>
  <li class="nav-item">
    <% if current_user.blank? %>
      <%= link_to "Login", new_user_session_path , class: "nav-link" %>
    <% else %>
      <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "nav-link" %>      
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to "Articles", articles_path , class: "nav-link" %>
  </li>    
  <li class="nav-item">
    <%= link_to "Post article", new_article_path , class: "nav-link" %>
  </li>
</ul>
